.contenedor{
    background-color: rgb(139, 126, 126);
    padding-left: 360px;
}


.caja{
   
    height: 100px;
    width: 160px;
    border: solid 1px;

    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}